.header {
    text-align: center;
    background-color: darkkhaki;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

img {
    height: 400px;
    width: 600px
}

.image{
    text-align: center;
}
marquee{
    font-size: 30px;
    margin-left: 30%;
    width: 40%;
            white-space: nowrap;
            overflow: hidden;
            box-sizing: border-box;
            display: inline-block;
    font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.container{
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 5%;
    background-color:antiquewhite;
}

h2 {
        font-family: "Pacifico", serif;
        font-weight: 400;
        font-style: normal;
      
}
ul{
    font-size: 25px;
}

ol{
    font-size: 25px;
}

li {
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.form{
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 5%;
    background-color: burlywood;
    
}

label {
    font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

